<!DOCTYPE html>
<html lang="en">

<head>
    <title>News Cluster</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script> 
        $(document).ready(function(){
            $("#btn1").click(function(){
                $.getJSON($SCRIPT_ROOT + '/search', {
                    keyword: $('input[name="keyword"]').val(),
                }, function(data) {
                    $("tbody").empty();
                   for (i=0; i< data.res.length; i++) {
                     $("tbody").append("<tr><td><div class='row'> <div class='col-sm-8'> <h2><a target='_blank' href=" + data.res[i].url + ">" + data.res[i].title + "</a></h2> </div>  </div></td></tr>");
                   }
                });
            });
        });
    </script>    
</head>

<body>
    <div class="jumbotron text-center">
        <h1>Search engine Demo</h1>
        <p></p>
    </div>

    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-3">
            <div class="form-group">
                <input type="text" class="form-control" id="usr" name="keyword" form="input">
            </div>
        </div>
        <div class="col-sm-2">
            <button type="button" class="btn" id="btn1">Basic</button>
        </div>
    </div> 

    <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-8">
                    <table class="table">
                            <thead>
                              <tr>
                                <th>Result</th>
                              </tr>
                            </thead>
                            <tbody>
                                    <tr>
                                        <td>
                                            <!-- <div class="row">
                                                    <div class="col-sm-4">
                                                        <h2><a target="_blank" href="item.url"></a></h2>
                                                    </div>
                                                    <div class="col-sm-3"></div>
                                            </div> 
                                            
                                            <div class="row">
                                                    <div class="col-sm-4">
                                                        <h6>text here</h6>
                                                    </div>
                                                    <div class="col-sm-3"></div>
                                            </div> -->
                                            
                                        </td>
                                    </tr>
                            </tbody>
                    </table>                                        
            </div>
            <div class="col-sm-2">
            </div>
    </div>
    

</body>

</html>
